@charset "UTF-8";

/* make the web page look like a printed page */
@media screen {
    body {
        background-color: #506080;
        background-image: linear-gradient(88deg, #E0E0E8, #D0D0DB 200px, #D0D0DB);
        background-position: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 100%;
    }
    .outerPage {
        max-width: 8.5in;
        margin: 0px auto;
        background-color: white;
        background-image: linear-gradient(90deg, #FFFFF8, #FCFCFC 70%, #F8F8FF);
        padding-top: 25mm;
        padding-bottom: 25mm;
    }
    .mainColumn {
        max-width: 7in;
        min-width: 300px;
        margin: 0px auto;
    }
    input {
        background-color: #F0FFFF;
    }
}

h1 {
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 1em;
}

table {
    border-collapse: collapse;
    background-color: white;
}

th {
    padding-bottom:0.5ex;
    border: 1px solid #DFDFDF;
    padding-top: 1ex;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

td
{
    border: 1px solid #DFDFDF;
    text-align: center;
}

input
{
    height: 1em;
    font-size: 1.2em;
}

#dilutions_table input
{
    width:5em;
    text-align: center;
}

.patientLabelBox {
    border: 1px solid #DDD;
    width: 4in;
    float: left;
    margin: 0px 10mm 0px 0px;
}

.patientLabelBox p {
    width: 4in;
    height: 1in;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#testInfo {
    clear:both;
    padding: 2em 0px;
}

#testInfo td {
    border: 0px;
    text-align: right;
}

#testInfo input {
    width: 80mm;
}

tr.selected
{
    background: #DFDFDF;
    font-weight: bold;
}

tr.selected input
{
    font-weight: bold;
}

#testsuccessstatus
{
    color: gray;
}

#testsuccessstatus:hover
{
    color: black;
}

#self_test_table
{
    border: 5px solid #DFDFDF;
}

#mainform table {
    float: left;
    margin: 1em 1em 1em 0px;
}

#testCalculations {
    float: left;
    max-width: 60mm;
}

#selfTestInfo {
    clear: both;
}

.calculationResult {
    border: 1px solid #DDD;
    width: 50mm;
    height: 1em;
    padding: 2mm;
    margin: 2px;
}

.resultLabel {
    padding: 0px;
    margin: 1em 0em 0.3em 0em;
}

.equation {
    font-size: 0.6em;
    color: #888;
    margin: 0.1em 0em 1em 0em;
}

#sampleBU {
    border: 3px solid #DDD;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0px;
}

#date {
    width: 8em;
}
