@charset "UTF-8";

/*body
{
    margin-right:auto;
    margin-left:auto;
    margin-top:1cm;
    width:1000px;
}*/

body {
    background-color: #506080;
    background-image: linear-gradient(88deg, #607090, #506080 200px, #202040 1500px, #101020);
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mainColumn {
    max-width: 210mm;
    min-width: 300px;
    margin: 0px auto;
    background-color: white;
    background-image: linear-gradient(90deg, #FFFFF8, #FCFCFC 70%, #F8F8FF);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
}

#dilutions_table input
{
    width:4em;
}

table {
    border-collapse: collapse;
    background-color: white;
}

td input
{
    text-align: center;
}

th {
    padding-bottom:1ex;
    border: 1px solid #DFDFDF;
    padding-top: 1ex;
    padding-right: 1em;
    padding-left: 1em;
}

td
{
    border: 1px solid #DFDFDF;
    text-align: center;
}

tr.selected
{
    background: #DFDFDF;
    font-weight: bold;
}

tr.selected input
{
    font-weight: bold;
}

#testsuccessstatus
{
    color: gray;
}

#testsuccessstatus:hover
{
    color: black;
}

#self_test_table
{
    border: 5px solid #DFDFDF;
}
